<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610568315359-sh52dfgmthjg0a1dp91ctoqprf94jv34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610568315359-sh52dfgmthjg0a1dp91ctoqprf94jv34</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>610568315359-rcvi38gep5tdbk75r4nu4eagrjdl5k5j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1oqiTSNs5yuEeKKSiZE9JgnSwWfLFuOw</string>
	<key>GCM_SENDER_ID</key>
	<string>610568315359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simpl.talky</string>
	<key>PROJECT_ID</key>
	<string>talky-app-2</string>
	<key>STORAGE_BUCKET</key>
	<string>talky-app-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610568315359:ios:ca3a33d46dafae797a646a</string>
</dict>
</plist>