<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72653874847-9o0ocjhb3fdtgmd6tp3h7m0g6crrtsr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72653874847-9o0ocjhb3fdtgmd6tp3h7m0g6crrtsr0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>72653874847-a00acih62nspnrhrom90e64c3mmcd18e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAV8SLfzDhNzHZH9F5w6tdzmI0q2CLTHms</string>
	<key>GCM_SENDER_ID</key>
	<string>72653874847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simpl.talky</string>
	<key>PROJECT_ID</key>
	<string>talky-app-b7fdc</string>
	<key>STORAGE_BUCKET</key>
	<string>talky-app-b7fdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72653874847:ios:9a41daf3630dd9233324aa</string>
</dict>
</plist>